@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #f6f8fa;
    --text-color: #1d1f27;
    --main-color: #3a3dbe;
}

body {
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

main {
    max-width: 400px;
    margin: 1rem auto;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)
}

header {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

header div {
    padding: 5px;
}

header div:first-child {
    flex-basis: 100%;
    font-size: 2.25rem;
    font-weight: 600;
}

header div:nth-child(n + 2) {
    flex-basis: 50%;
    font-size: 1.25rem;
    font-weight: 500;
}

header h5 {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

section {
    margin-top: 20px;
}

form input,
form button {
    width: 100%;
    padding: 10px;
    borderL 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 42px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: 0.5px solid #adb5bd;
}

form button {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    text-transform: uppercase;
    color: #fff;
    font-size: 0,75rem;
    font-weight: 600;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 10rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

form div:first-child {
    flex-basis: 100%;
}

form div:nth-child(n + 2) {
    flex-basis: calc(50% - 5px);
}

form label {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}


#status {
    text-align: center;
    margin-bottom: 0.5rem;
}